.NFTMint {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid $light-grey;
}

.QuestionBox {
  display: inline-block;
  max-width: calc(100% - 35px);
  padding-bottom: 10px;
  text-align: center;
}